/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  accent-color: #0d6efd;
  scroll-behavior: smooth;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: #383737;
}

button,
textarea {
  font-family: inherit;
}

.btn {
  transition: 0.2s ease;
}

.navigation {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__logo img {
  object-fit: contain;
}
.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.navigation__link {
  font-size: 0.9rem;
}
.navigation__link .link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: #383737;
  cursor: pointer;
}
.navigation__link .link:hover {
  color: #0d6efd;
}
.navigation__link .link:hover i {
  color: #0d6efd;
}
.navigation__link .link.active {
  color: #0d6efd;
  font-weight: 600;
}
.navigation__link .link.active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0d6efd;
}
.navigation__link .link i {
  color: #8f8f8f;
  font-size: 1.2rem;
  align-items: flex-end;
  line-height: 0.5rem;
}
.navigation__profile {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border: 0.3px solid #000;
  border-radius: 500px;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
}
.navigation__profile:hover {
  background-color: #eaeaea;
}
.navigation__profile img {
  border-radius: 50%;
}
.navigation__profile span {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-left: 0.1rem;
  color: #383737;
}
.navigation__profile i {
  display: inline-block;
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem;
}
.hero__text {
  width: 40%;
}
.hero__text h1 {
  font-size: 3rem;
  color: #0d6efd;
  font-weight: 600;
  line-height: 1.2;
}
.hero__text h1 svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: -15px;
}
.hero__text h2 {
  font-size: 1.5rem;
  color: #383737;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.hero__text p {
  color: #5e5e5e;
  font-size: 1rem;
  font-weight: 500;
}
.hero__text .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background-color: #0d6efd;
  color: #ffffff;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}
.hero__img {
  width: 50%;
}
.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.unlock {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.unlock__img {
  width: 50%;
}
.unlock__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.unlock__text {
  width: 30%;
}
.unlock__text h3 {
  font-size: 1.6rem;
  color: #383737;
  margin-bottom: 0.8rem;
}
.unlock__text p {
  font-size: 0.9rem;
  color: #5e5e5e;
  font-weight: 500;
}

.deals {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-image: url("/images/wave.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: -30vh;
  z-index: 10;
}
.deals__text {
  width: 35%;
}
.deals__text h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #0d6efd;
  margin-bottom: 0.8rem;
}
.deals__text p {
  font-size: 0.9rem;
  color: #5e5e5e;
  font-weight: 500;
  padding-right: 2.5rem;
}
.deals__discount {
  width: 45%;
  background-color: #ffffff;
  border-radius: 1.5625rem;
  box-shadow: 4px 4px 12px 3px rgba(160, 160, 160, 0.25);
  padding: 1.5rem;
  margin-top: 5rem;
}
.deals__discount header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.deals__discount header h3 {
  font-weight: 400;
}
.deals__discount header h3 .tag {
  display: inline-block;
  font-size: 0.75rem;
  background-color: #e1edff;
  color: #0d6efd;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  font-weight: 700;
  margin-left: 1rem;
}
.deals__discount header img {
  width: 30px;
  height: 30px;
}
.deals__discount-container {
  border-radius: 1.5625rem;
  box-shadow: 4px 4px 12px 3px rgba(160, 160, 160, 0.25);
  padding: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.deals__discount-container .row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.deals__discount-container .row-img {
  background-color: #e1edff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.deals__discount-container .row-img img {
  object-fit: contain;
  scale: 0.7;
}
.deals__discount-container .row-text span {
  font-size: 0.75rem;
  color: #7a7a7a;
  font-weight: 500;
}
.deals__discount-container .row-text p {
  font-weight: 700;
  color: #383737;
  font-size: 0.9rem;
}

.parent {
  display: flex;
  align-items: center;
  padding: 6rem 4rem;
  gap: 4rem;
}
.parent__img {
  width: 50%;
}
.parent__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.parent__text {
  width: 35%;
}
.parent__text h3 {
  font-size: 1.6rem;
  color: #383737;
  margin-bottom: 0.8rem;
}
.parent__text p {
  font-size: 0.9rem;
  color: #5e5e5e;
  font-weight: 500;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  gap: 4rem;
}
.team__img {
  width: 40%;
}
.team__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.team__text {
  width: 35%;
}
.team__text h3 {
  font-size: 1.6rem;
  color: #383737;
  margin-bottom: 0.8rem;
}
.team__text p {
  font-size: 0.9rem;
  color: #5e5e5e;
  font-weight: 500;
}

.benefits {
  position: relative;
  background: linear-gradient(180deg, rgba(243, 248, 255, 0) 0%, #f3f8ff 22.92%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.benefits__container {
  position: relative;
  width: 35%;
  text-align: center;
  z-index: 10;
}
.benefits__container h3 {
  color: #0d6efd;
  font-size: 1.7rem;
  font-weight: 500;
}
.benefits__container .btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1px solid #4a84d6;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 1rem;
  color: #4a84d6;
}
.benefits__container .btn:hover {
  background-color: #dce7f7;
}
.benefits__background {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.benefits__background img {
  position: absolute;
}
.benefits__background img.family {
  bottom: -20px;
  left: 0;
  height: 70vh;
}
.benefits__background img.tree {
  bottom: 0;
  right: 0;
}
.benefits__background img.bird {
  top: 0;
  left: 30%;
}
.benefits__background img.cloud-sun {
  top: -10rem;
  right: 0rem;
  transform: scale(0.8);
}
.benefits__background img.birds-down {
  bottom: 3%;
  right: 20%;
}

.footer {
  background-color: #4a84d6;
  padding: 4rem 3rem 1rem;
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  gap: 1.5rem;
}
.footer__about {
  margin-right: 4rem;
}
.footer__about img {
  margin-bottom: 1rem;
}
.footer__about p {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.footer__about p.last {
  margin-bottom: 0;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.footer__links h3 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1.2rem;
}
.footer__links a {
  margin-bottom: 0.7rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  width: max-content;
}
.footer__newsletter {
  margin-top: 3rem;
  margin-left: 5rem;
}
.footer__newsletter h3 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 1.2rem;
}
.footer__newsletter input[type=email] {
  display: block;
  background-color: #82b4ff;
  min-height: 45px;
  border: 2px solid transparent;
  outline: none;
  width: 100%;
  padding-inline: 1rem;
  margin-bottom: 1.2rem;
}
.footer__newsletter input[type=email]:focus {
  border: 2px solid #ffffff;
}
.footer__newsletter input[type=email]::placeholder {
  font-weight: 600;
  color: #ffffff;
}
.footer__newsletter .terms {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.footer__newsletter .terms input {
  width: 15px;
  height: 15px;
  color: red !important;
  margin-top: 0.2rem;
  flex-shrink: 0;
}
.footer__newsletter .terms input:checked {
  background-color: #0d6efd;
}
.footer__newsletter .terms p {
  font-size: 0.75rem;
  color: #ffffff;
}
.footer__newsletter img {
  margin-top: 2rem;
}

.page-loader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: #0d6efd;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.page-loader.remove {
  animation: loader-fade-out 1s ease forwards;
}
.page-loader img {
  width: 180px;
  opacity: 0;
  animation: loader-img 1.5s ease 0.5s forwards;
}

@keyframes loader-img {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loader-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
